{
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

html,
body {
  max-height: 800px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.ant-list-item-meta-content {
  max-width: 700px;
}

.ant-list-item-meta-title {
  font-size: 14px !important;
  color:black;
}

.ant-list-item-meta-description {
  color: black;
}

.user_balloon {
  background-color: rgb(30, 38, 155);
  border-radius: 10px;
}

.user_balloon .ant-list-item-meta-description {
  color: white;
}

.bot_balloon .ant-list-item-meta-description {
  color: black;
  padding: 6px;
  background-color: white;
  border-radius: 10px;
}

.ant-spin-container {
  background-color: white;
  padding: 5px;
}